@media only screen and (min-width: 100px) and (max-width: 320px) {
  .text {
    font-family: "Courier New", monospace;
    font-size: 12px;
    position: absolute;
    top: 65%;
    background-color: #3c556e;
    border-radius: 1em;
    color: #000;
  }
  .M {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #000;
  }
}
@media only screen and (min-width: 350px) and (max-width: 766px) {
  .text {
    font-family: "Courier New", monospace;
    font-size: 16px;
    position: absolute;
    top: 70%;
    color: #000;
    background-color: #3c556e;
    border-radius: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1441px) {
  .text {
    font-family: "Courier New", monospace;
    font-size: 27px;
    position: absolute;
    top: 560px;
    background-color: #3c556e;
    border-radius: 1em;
    color: #000;
  }
}
@media only screen and (min-width: 321px) and (max-width: 425px) {
  .M {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #000;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .M {
    font-family: "Times New Roman", serif;
    font-size: 30px;
    color: #000;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .M {
    font-family: "Times New Roman", serif;
    font-size: 30px;
    position: absolute;
    left: 60px;
    color: #000;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .M {
    font-family: "Times New Roman", serif;
    font-size: 24px;
    position: absolute;
    color: #000;
  }
}
@media only screen and (min-width: 1441px) and (max-width: 2560px) {
  .M {
    font-family: "Times New Roman", serif;
    font-size: 60px;
    position: absolute;
    color: #000;
  }
}
